NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SERVICE_ROLE_KEY=
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=
CLOUDINARY_URL=
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=
NEXT_PUBLIC_TOURNAMENT_START=2026-09-01T18:00:00+05:30
NEXT_PUBLIC_REGISTRATION_OPEN=true
NEXT_PUBLIC_PRIZE_POOL=
